@import '~bootstrap/scss/bootstrap';
@import '~font-awesome';

#header {
    background-color: #0D4EAC;
}

#footer {
    background-color: black;
}

#header-logo {
    width: 200px;
    position: absolute;
    right: 50px;
    top: 30px;
}

.subtitle {
    display: inline-block;
    width: auto;
    border-bottom: solid 3px ;
    padding-bottom: 5px;
}

.link-home-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.link-home {
    text-decoration: none;
    color: white;
    font-size: large;
}

.link-home:hover {
    font-weight: 600;
    color: white;
}

.link-shape {
    font-size: xx-large;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 8px 6px -6px black;
}

.link-shape:hover {
    background-color: red;
    color: white;
}

#link-circle {
    width: 200px;
    line-height: 200px;
    background-color: #ee4c41;
    border-radius: 100%;
}

#link-circle:hover {
    background-color: red;
}

#link-triangle {
    width: 0; 
    height: 0; 
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 160px solid #ee4c41;
}

#link-triangle-text {
    line-height: 160px;
    width: 320px;
    box-sizing: content-box;
    margin-right: 160px;
    transform: translateX(-160px);
}

.btn {
    border-radius: 0;
    background-color: transparent;
    color: blue;
    border: 2px solid blue;
}
#circle-size {
    width: 50%;
}

form {
    width: 50%;
}

.form-group {
    margin: 20px;
}

kbd {
    background-color: black;
    color: white;
}
