<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shape Calculator</title>
        {% block stylesheets %} 
            <link href="{{ asset('build/global.css') }}" rel="stylesheet"/>
        {% endblock %} 
        {% block javascripts %}
        {% endblock %} 
    </head>
    <body>
        <div class="fluid-container min-vh-100">
            <div id="header" class="jumbotron text-center fluid-container p-5 text-white">
                <h1>SHAPE CALCULATOR</h1>
                <img id="header-logo" src="{{ asset('build/horus_trans.png') }}">
            </div>

            <div class="fluid-container text-center m-5">
                <h2 class="subtitle">{{ subtitle }}</h2>
            </div>

            {%block body %}{% endblock %}
        </div>

        <div id="footer" class="fluid-container text-white m-0 p-4">
                <p>Created by <b>Nikolaos Anastasopoulos</b> for <b>Horus Music</b>.</p>
        </div>
    </body>
</html>
