{% extends 'base.html.twig' %}

{% block body %}
    <div class="fluid-container d-flex align-items-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-end">
            {{ form(form) }}
        </div>
        <div class="container" id="scene"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if shape == 'triangle' %}
        {{ encore_entry_script_tags('triangle') }}
    {% elseif shape == 'circle' %}
        {{ encore_entry_script_tags('circle') }}
    {% endif %}
{% endblock %} 
