{% extends 'base.html.twig' %}

{% block body %}
    <div class="fluid-container row">
        <div class="col text-center">
            <a class="link-home" href="{{ path('triangle')}}">Triangle</a>
        </div>
        <div class="col text-center">
            <a class="link-home" href="{{ path('circle')}}">Circle</a>
        </div>
    </div>
{% endblock %}
