{% extends 'base.html.twig' %}

{% block body %}
    <div class="link-home-container">
        <a class="link-home" href="{{ path('home')}}"><i class="fa fa-arrow-alt-circle-left"></i>back</a>
    </div>

    <div class="container text-center">
        {% if shape == 'circle' %}
            <kbd>The diameter of the circle is</kbd>
            <h1 class="display-1">{{ result }}</h1>
        {% elseif shape == 'triangle' %} 
            <kbd>The surface area of the triangle is</kbd>  
            <h1 class="display-1">{{ result }}</h1>  
        {% endif %}
    </div>
{% endblock %}