{% extends 'base.html.twig' %}

{% block title %}Hello CircleController!{% endblock %}

{% block body %}
<link href="{{ asset('css/shape.css') }}" rel="stylesheet"/>

<div class="page-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Projects/symfony-docker/symfony/src/Controller/CircleController.php'|file_link(0) }}">src/Controller/CircleController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Projects/symfony-docker/symfony/templates/circle/index.html.twig'|file_link(0) }}">templates/circle/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
